<template>
  <v-app>
    <v-app-bar
      app
      color="#ee0000"
      dark
    >
      <div class="d-flex align-center">

        <v-label>Red Hat</v-label>
      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-content>
      <HelloWorld/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    HelloWorld,
  },

  data: () => ({
    //
  }),
};
</script>
